
<nav class="blue darken-4">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">Agenda</a>
  </div>
</nav>
<div class="row">
  <div class="col l8">
    <div #calendarContainer></div>
  </div>
  <div class="col l4">
    <div class="row">
      <form class="dataForm">
        <div class="col l10">
          <div class="input-field">
            <p>Paciente</p>
            <select #paciente (change)="setDocument(paciente.value)" [(ngModel)]="data.paciente" name="paciente" materialize="material_select" [materializeSelectOptions]="pacientes">
              <option value="">Seleccione su nombre</option>
              <option *ngFor="let option of pacientes" [value]="option.value">{{option.name}}</option>
            </select>
          </div>
          <div class="input-field">
            <p>Documento</p>
            <input type="text" id="" [(ngModel)]="data.documento" readonly name="documento">
          </div>
          <div class="input-field">
            <p>Especialidad</p>
            <select #especialidad (change)="setProfessional(especialidad.value)" [(ngModel)]="data.especialidad" name="especialidad" materialize="material_select" [materializeSelectOptions]="especialidades">
              <option value="">Elija una especialidad</option>
              <option *ngFor="let option of especialidades" [value]="option.value">{{option.name}}</option>
            </select>
          </div>
          <div class="input-field">
            <p>Profesional</p>
            <select (change)="validateData()" [(ngModel)]="data.profesional" name="profesional" materialize="material_select" [materializeSelectOptions]="profesionalesFiltro">
              <option value="">Elija un profesional</option>
              <option *ngFor="let option of profesionalesFiltro" [value]="option.value">{{option.name}}</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

        